/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 1000px;
}
.delete_button{
  margin-left: 10px;
  background-color: #ff6161;
  color: black;
}

.button {
  color: black;
}

.share_button {
  margin-left: 10px;
  background-color: #26a5ff;
  color: black;
}

.v-textarea {
  border:     none !important;
  background: white; /* Has shading image by default */
}